<% layout('layout/layout.ejs')%>

<div class="card mt-2 bg-transparent border-0 shadow-none">
    <div class="card-body mt-2">
        <h3><%= user.email %></h3>
        <p>Tu id: <%= user._id %></p>
    </div>
</div>
