<!-- views/reserva-confirmada.ejs -->
<% layout('layout/layout.ejs') %>

  <div class="container mt-5">
    <div class="alert alert-success">
      <h4 class="alert-heading">¡Reserva confirmada!</h4>
      <p>Gracias, <strong><%= nombre %></strong>. Hemos recibido su solicitud de reserva. Estaremos encantados de darle una experiencia como solo nosotros sabemos.</p>
    </div>
  </div>

  <div class="container mt-5">
    <div class="alert alert-success">
      <p>En un momento será redirigido a la página principal.</p>
    </div>
  </div>


<script>
  setTimeout(() => {
    window.location.href = "/";
  }, 3000);
</script>


